.conteudo_principal {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.conteudo_principal__slogan_e_description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 852px;
    height: 210;
    gap: 20px;
}

.titulo__destaque {
    font-size: 88px;
}

.solan_e_description__titulo {
    font-size: 88px;
}

.solan_e_description__paragrafo {
    color: var(--cor-cinza);
    font-size: 16px;
}

.titulo__destaque {
    color: var(--green-color);
}

.solan_e_description__input {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 450px;
    justify-content: space-between;
}

.input__email {
    color: var(--cor-cinza);
}

.input__button {
    background-color: var(--green-color);
    color: var(--black-color);
    padding: 10px 25px;
    border-radius: 12px;
}

.conteudo_principal__infro_cards {
    display: flex;
    gap: 30px;
}

.infro_cards__card {
    padding: 24px;
    background-color: var(--cor--preto-cinza);
    border-radius: 10px;
}

.card__subtitulo {
    color: var(--cor-branca);
    padding-top: 15px;
}

.card_paragrafo {
    padding-top: 15px;
    color: var(--cor-cinza);
}